body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#fff;;
}
ul {
    list-style-type: none;
}
.navi .link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.first-part {
background-color: #2e2f42;
.first-part h1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.071;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
}
.third-part {
    background-color: #f4f4fd;
}
.list p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo .accent {
        color: #2e2f42;
}
.titles {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.under p {
    background-color: #2e2f42;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.first-part .push {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
        border-radius: 4px;
            padding: 16px 32px;
            width: 169px;
            height: 56px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                background: #4d5ae5;
}
#nav li {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.contacts li {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}
a {
    text-decoration: none;
}
.link:hover, .link:focus {
color: #404bbf;
}
.first-part .push:hover, .first-part .push:focus {
color: #404bbf;
}